<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PORTAL_ADMIN_KEY</key>
	<string>423894ae41a2929815c724338bf6f5aec93fd55fbdaf824d35195d227aa61de8</string>
</dict>
</plist>
